<<<<<<< HEAD

=======
>>>>>>> development
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}
<<<<<<< HEAD
.main-first
=======
div h1, h2
>>>>>>> development
{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(212, 14, 14);
}
<<<<<<< HEAD
.main-practice h1
{
    font-size: 22px;
    color: red;
}
.main-practice p
{
    font-size: 16px;
    color:black;
}
.main-time 
{
    font-family:'Courier New', Courier, monospace;
    font size: 18px;
}
.main-time h2
{
    font-size: 22px;
    color: rgb(7, 112, 205)
}
.main-time p
{
    font-size: 14px;
    color:black;
}
=======
p
{
    font-size: 14px;
    color:black;
}
>>>>>>> development
